.dark-mode {
  --bg-color: #121212;
  --text-color: #f8f8f8;
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode .card {
  background: #1e1e1e;
  color: #f8f8f8;
}

body.dark-mode .navbar {
  background: rgba(18,18,18,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

body.dark-mode .footer {
  background: #1e1e1e;
}